<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (,'List transactions',~{::body},'transaction')}">

<body>
	<div class="container-fluid">
		<h2>Transactions</h2>
		
		<table id="transactions" class="table table-striped ps-table">
		  <thead>
		  <tr>
		  	<th>UUID</th>
		  	<th>Type</th>
		    <th>Merchant</th>
		    <th>Customer</th>
		    <th>Amount</th>
		    <th>Status</th>
		    <th>Reference</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr th:each="transaction : ${listTransactions}">
		    <td>
		      <a th:href="@{/ui/merchant/transaction/__${transaction.id}__}" th:text="${transaction.id}"/></a>
		    </td>
		    <td th:text="${transaction.merchant.name}"/>
		    <td th:text="${transaction.merchant.name}"/>
		    
		    <td th:text="${transaction.customerEmail}"/>
		    <td th:text="${transaction.amount}"/>
		    <td th:text="${transaction.status}"/>
		    <td th:text="${transaction.referenceId}"/>
		  </tr>
		  </tbody>
		</table>
		<div th:if="${totalPages > 1}">
		  <span>Pages:</span>
		  <span>[</span>
		  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
		      <a th:if="${currentPage != i}" th:href="@{'/ui/merchant/transaction/?page=' + ${i}}">[[${i}]]</a>
		      <span th:unless="${currentPage != i}">[[${i}]]</span>
		    </span>
		  <span>]&nbsp;</span>
		  <span>
		      <a th:if="${currentPage > 1}" th:href="@{'/ui/merchant/transaction/?page=1'}" title="First"
		         class="fa fa-fast-backward"></a>
		      <span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
		    </span>
		  <span>
		      <a th:if="${currentPage > 1}" th:href="@{'/ui/merchant/transaction/?page=__${currentPage - 1}__'}" title="Previous"
		         class="fa fa-step-backward"></a>
		      <span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
		    </span>
		  <span>
		      <a th:if="${currentPage < totalPages}" th:href="@{'/ui/merchant/transaction/?page=__${currentPage + 1}__'}" title="Next"
		         class="fa fa-step-forward"></a>
		      <span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
		    </span>
		  <span>
		      <a th:if="${currentPage < totalPages}" th:href="@{'/ui/merchant/transaction/?page=__${totalPages}__'}" title="Last"
		         class="fa fa-fast-forward"></a>
		      <span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-step-forward"></span>
		    </span>
		</div>
	</div>
</body>
</html>