<html xmlns:th="https://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout ('Edit merchant',~{::body},'merchant')}">
<body>
	<div class="xd-container ps-page">
		<div class="container">
			  <h2 class="ps-page-title">Merchant</h2>
			  <form th:object="${merchant}" class="form-horizontal" id="edit-merchant-form" method="post">
			  <input type="hidden"  th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			    <div>
			      <input
			        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
			      <input
			        th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />
			      <input
			        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
			      <input
			        th:replace="~{fragments/inputField :: input ('Status', 'statusActive', 'text')}" />
			      <input
			        th:replace="~{fragments/inputField :: input ('Usernames', 'usernames', 'text')}" />
			    </div>
			    <br />
		    	<br />
			    <div>
					<div class="ps-form-edit">
					      <div th:if="${#strings.isEmpty(merchant['name'])}">
					        <button class="btn btn-primary" type="submit" name="action" value="Create">Create</button>
					      </div>
					      <div th:if="${not #strings.isEmpty(merchant['name'])}">
					        <button class="btn btn-primary" type="submit" name="action" value="Update">Update</button>
					      </div>
					</div>
					<div class="ps-form-delete">
				      <div th:if="${not #strings.isEmpty(merchant['name'])}">
						<button class="btn btn-primary" type="submit" name="action" value="Delete">Delete</button>
					  </div>  
					 </div>   
			    </div>	    
			  </form>
		</div>
	</div>
</body>
</html>
