<html xmlns:th="https://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout ('View transaction',~{::body},'transaction')}">
<body>
	<div class="xd-container ps-page">
		<div class="container">
			<form class="form-horizontal" id="view-transaction" method="post">
		  		<input type="hidden"  th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		  	
			  	<div th:if="${transactionAuthorize != null}">
					<div th:insert="~{fragments/viewTransactionAuthz :: viewTransactionAuthz}" th:with="transaction=${transactionAuthorize}"></div>	
					<div th:insert="~{fragments/viewButton :: viewButton}" th:with="formname='transaction-authorize'"></div>	
			  	</div>  
			  	<div th:if="${transactionCharge != null}">
					<div th:insert="~{fragments/viewTransactionCharge :: viewTransactionCharge}" th:with="transaction=${transactionCharge}"></div>
			  	</div>
			  	<div th:if="${transactionRefund != null}">
					<div th:insert="~{fragments/viewTransactionRefund :: viewTransactionRefund}" th:with="transaction=${transactionRefund}"></div>		
			    </div>
				<div th:if="${transactionReversal != null}">
					<div th:insert="~{fragments/viewTransactionReversal :: viewTransactionReversal}" th:with="transaction=${transactionReversal}"></div>	
				</div> 
		  	</form>
		</div>
	</div>
</body>
</html>
