<html>
<body>
	<div th:fragment="viewTransactionCharge">
		<h2 class="ps-page-title">Transaction charge</h2>
		<div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">UUID</label>
			    <div class="form-control ps-form-control-disabled" th:text="${transaction.uuid}">Default UUID</div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Status</label>
			    <div class="form-control ps-form-control-disabled" th:text="${transaction.statusType}">Default status</div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Amount</label>
			    <div class="form-control ps-form-control-disabled" th:if="${transaction.amount != null}" th:text="${transaction.amount}"></div>
				<div class="form-control ps-form-control-disabled" th:if="${transaction.amount == null}" th:text="'0'"></div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Reference</label>
				<div class="form-control ps-form-control-disabled" th:if="${transaction.referenceId != null}" th:text="${transaction.referenceId}"></div>
				<div class="form-control ps-form-control-disabled" th:if="${transaction.referenceId == null}" th:text="'&nbsp;'"></div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Merchant ID</label>
			    <div class="form-control ps-form-control-disabled" th:text="${transaction.merchantId}">Default merchant id</div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Merchant name</label>
			    <div class="form-control ps-form-control-disabled" th:text="${transaction.merchant.name}">Default merchant name</div>
			</div>		    
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Customer email</label>
			    <div class="form-control ps-form-control-disabled" th:if="${transaction.customerEmail != null}" th:text="${transaction.customerEmail}"></div>
				<div class="form-control ps-form-control-disabled" th:if="${transaction.customerEmail == null}" th:text="'&nbsp;'"></div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Customer phone</label>
			    <div class="form-control ps-form-control-disabled" th:if="${transaction.customerPhone != null}" th:text="${transaction.customerPhone}"></div>
				<div class="form-control ps-form-control-disabled" th:if="${transaction.customerPhone == null}" th:text="'&nbsp;'"></div>
			</div>
			<div class="ps-form-group">
				<label class="col-sm-12 ps-form-label">Created on (dd/MM/yyyy HH:mm:ss)</label>
			    <div class="form-control ps-form-control-disabled" th:text="${#dates.format(transaction.epoch, 'dd/MM/yyyy HH:mm:ss')}">Default created on time</div>
			</div>
		</div>
	</div>
</body>
</html>
