<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout ('Home',~{::body},'homebs')}">
  <body>
	<div class="xd-container ps-page">
		<div class="container">
			<div th:if="${Username != null}">
				<div class="container-fluid mb-3">
		        	<span>Username:</span>
		        	<span th:text="${Username}"></span>
		        </div>        
			</div>
			<div th:if="${Role != null}">
				<div class="container-fluid mb-3">
		        	<span>Role:</span>
		        	<span th:text="${Role}"></span>
		        </div>        
			</div>
			<div th:if="${applicationVersion != null}">
				<div class="container-fluid mb-3">
		        	<span>Version:</span>
		        	<span th:text="${applicationVersion}"></span>
		        </div>        
			</div> 
		</div>
	</div>
  </body>
</html>